<app-header></app-header>
<div class="container" *ngIf="isAuth" >
    <div class="main-body">
       <h3 class="title text-capitalize mb-30 pb-25" >Profile</h3>

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img *ngIf="user.image==null" src="https://bootdey.com/img/Content/avatar/avatar7.png " alt="Admin" class="rounded-circle" width="150">
                    <img *ngIf="user.image" [src]="baseUrlImage+user.image" alt="Admin" class="rounded-circle" width="150">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nom</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" >
                     {{user.firstname}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Prénom</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" >
                     {{user.lastname}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Pseudo</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" >
                     {{user.pseudo}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" >
                     {{user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Née</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" >
                     {{user.dateBirth}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Telephone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" >
                     {{user.tel}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Adresse de Livraison</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" >
                     {{user.adresseLivraison}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Adresse de Facturation</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" >
                     {{user.adresseFacturation}}
                    </div>
                  </div>
                </div>
              </div> 
              <div class="text-center">
                <button routerLink='/edit' class="btn theme-btn--dark1 btn--md center" [disabled]="registerForm.invalid">Modifier votre profile </button>
              </div>  
            </div>
          </div>
          <h3 class="title text-capitalize mb-30 pb-25">Vos Commandes</h3>
          <div class="col">
            <div class="card mb-3">
              <table class="table" >
                <thead>
                  <tr>
                    <th scope="col">N° d'order</th>
                    <th scope="col">date de command</th>
                    <th scope="col">Produit</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead >
                <tbody >
                  <tr>
                    <th scope="row"></th>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.firstname}}</td>

                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
    </div>
    <div>
    
    </div>
    

<app-footer></app-footer>