<footer class="bg-light theme1 position-relative">
    <!-- footer bottom start -->
    <div class="footer-bottom pt-80 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-30">
                    <div class="footer-widget mx-w-400">
                        <div class="footer-logo mb-35">
                            <a href="index.html">
                                <img src="assets/img/logo/HM-LOGO.png" alt="footer logo">
                            </a>
                        </div>
                        <p class="text mb-30">Hyundai Motors Group est le pôle automobile et agriculture du conglomérat coréen Hyundai. Il est l'unique constructeur indépendant en Corée du Sud, et leader sur son marché intérieur.</p>

                        <div class="social-network">
                            <ul class="d-flex">
                                <li><a href="https://www.facebook.com/" target="_blank"><span
                                      class="icon-social-facebook"></span></a></li>
                                <li><a href="https://twitter.com/" target="_blank"><span
                                      class="icon-social-twitter"></span></a></li>
                                <li><a href="https://www.youtube.com/" target="_blank"><span
                                      class="icon-social-youtube"></span></a></li>
                                <li class="mr-0"><a href="https://www.instagram.com/" target="_blank"><span
                                      class="icon-social-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2 mb-30">
                    <div class="footer-widget">
                        <div class="border-bottom cbb1 mb-25">
                            <div class="section-title pb-20">
                                <h2 class="title text-dark text-uppercase">Informations </h2>
                            </div>
                        </div>
                        <!-- footer-menu start -->
                        <ul class="footer-menu">
                            <li><a href="#">Livraison</a></li>
                            <li><a routerLink='/serv'>A propos de nous</a></li>
                            <li><a href="#">Paiement sécurisé </a></li>
                            <li><a routerLink='/contact' >Contactez-nous</a></li>
                            <li><a href="https://www.google.com/maps/place/Hyundai+Mahdia/@35.4974425,11.054069,15z/data=!4m5!3m4!1s0x0:0x71ba8423492e89dc!8m2!3d35.4974425!4d11.054069">
                                Sitemap</a></li>
                        </ul>
                        <!-- footer-menu end -->
                        <hr>
                        <div class="address-widget mb-30">
                            <div class="media">
                                <span class="address-icon mr-3">
                              <img src="assets/img/icon/phone.png" alt="phone">
                          </span>
                                <div class="media-body">
                                    <p class="help-text text-uppercase">BESOIN D'AIDE?</p>
                                    <h4 class="title text-dark"><a href="tel:+216 70 038 480">(+216) 70 038 480</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-2 mb-30">
                    <div class="footer-widget">
                        <div class="border-bottom cbb1 mb-25">
                            <div class="section-title pb-20">
                                <h2 class="title text-dark text-uppercase">Liens personnalisés </h2>
                            </div>
                        </div>
                        <!-- footer-menu start -->
                        <ul class="footer-menu">
                            <li><a href="#">Mention légale</a></li>
                            <li><a href="#">Baisse des prix</a></li>

                            <li><a href="#">Nouveaux produits</a></li>
                        </ul>
                        <!-- footer-menu end -->
                    </div>
                    <hr>
                    <a href="https://www.apple.com/" class="d-inline-block mr-10"><img src="assets/img/icon/apple.png" alt="apple icon"> </a>
                    <hr>
                    <a href="https://play.google.com//" class="d-inline-block" ><img src="assets/img/icon/play.png" alt="apple icon"> </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-30">
                    <div class="footer-widget">
                        <div class="border-bottom cbb1 mb-25">
                            <div class="section-title pb-20">
                                <h2 class="title text-dark text-uppercase">Newsletter</h2>
                            </div>
                        </div>
                        <p class="text mb-20">Vous pouvez vous désinscrire à tout moment. Pour cela, veuillez trouver nos coordonnées dans les mentions légales.</p>
                        <div class="nletter-form mb-35">
                            <form class="form-inline position-relative" target="_blank" method="post">
                                <input class="form-control" type="text" placeholder="Votre adresse email">
                                <button class="btn nletter-btn text-capitalize" type="submit">S'inscrire</button>
                            </form>
                        </div>
                        <hr>
                        <div class="store d-flex">
                           
                                   <a href="http://www.clictopay.com.tn" class="d-inline-block mr-10"> <img src="assets/img/payment/clicktopay.png" alt="img" title="ClickToPay"></a>
                                                
                                   <a href="https://www.google.com/maps/place/Hyundai+Mahdia/@35.4974425,11.054069,15z/data=!4m5!3m4!1s0x0:0x71ba8423492e89dc!8m2!3d35.4974425!4d11.054069" class="d-inline-block mr-10"> <img src="assets/img/payment/surplace.png" alt="img" title="Cash"> </a>
                                                    
                                    <a href="https://www.sobflous.tn" class="d-inline-block">   <img  src="assets/img/payment/sobflous.png" alt="img" title="Sobflous"> </a>

                                    

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer bottom end -->
    
    <!-- coppy-right start -->
    <div class="coppy-right pb-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="text-left">
                        <p class="mb-3 mb-md-0">Copyright &copy; <a href="#">Oubaid&Heni</a>. Tous droits réservés</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- coppy-right end -->
</footer>
<!-- footer end -->
