<div class="tab-content container" id="pills-tabContent">
    <nav aria-label="Page navigation ecommerce" class="pagination ecommerce" *ngIf="isPaginate">
        <ul class="pagination">
            <li class="page-item" (click)="prevPage()">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of pages" [ngClass]="{'active': page==currentPage}" (click)="changePage(page)"><a class="page-link">{{ page+1 }}</a></li>
            <li class="page-item" (click)="nextPage()">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row grid-view theme1">
            <div class="col-sm-6 col-md-4 mb-30" *ngFor="let product of products">
                <div class="card product-card">
                    <div class="card-body">
                        <div class="product-thumbnail position-relative">
                            <span class="badge badge-danger top-right">New</span>
                            <a [routerLink]="['/single-product',product.idProduct]">
                                <img class="first-img" width="420" [src]="prefUrlImage +product.image" alt="thumbnail">
                            </a>
                            <!-- product links -->
                            <ul class="product-links d-flex justify-content-center">

                                <li>
                                    <a  data-toggle="modal" [attr.data-target]="'#quick-view-'+product.idProduct">
                                        <span data-toggle="tooltip" data-placement="bottom" title="Quick view" class="icon-magnifier"></span>
                                    </a>
                                </li>
                            </ul>
                            <!-- product links end-->
                        </div>
                        <div class="product-desc py-0">
                            <h3 class="title"><a [routerLink]="['single-product',product.idProduct]">{{ product.name }}</a></h3>
                            <div class="star-rating">
                                <span class="ion-ios-star"></span>
                                <span class="ion-ios-star"></span>
                                <span class="ion-ios-star"></span>
                                <span class="ion-ios-star"></span>
                                <span class="ion-ios-star de-selected"></span>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="product-price"><del class="del">{{ (product.price*1.1).toFixed(2) }}dt</del>{{ product.price}}dt</h6>
                                <button (click)="addToCart(product)" class="pro-btn" data-toggle="modal" [attr.data-target]="'#add-to-cart-'+product.idProduct"><i class="icon-basket"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product-list End -->
            </div>
        </div>
    </div>
</div>

<app-modal-quick-view [products]="products"></app-modal-quick-view>
<app-modal-add-to-cart [products]="products"></app-modal-add-to-cart>
