<div class="modal fade style3" *ngFor="let product of products" [id]="'add-to-cart-'+product.idProduct" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center bg-dark">
                <h5 class="modal-title" id="add-to-cartCenterTitle"> <span class="ion-checkmark-round"></span> Product successfully added to your shopping cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-5 divide-right">
                        <div class="row">
                            <div class="col-md-6">
                                <img width="360" [src]="prefUrlImage+product.image" alt="img">
                            </div>
                            <div class="col-md-6 mb-2 mb-md-0">
                                <h4 class="product-name">{{ product.name}}</h4>
                                <h5 class="price">Prix: {{ product.price}}dt</h5>
                                <h6 class="quantity"><strong>Quantité:</strong>&nbsp;1</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="modal-cart-content">
                            <p class="cart-products-count">Il y a 1 article dans votre panier.</p>
                            <p><strong>Total produits:</strong>&nbsp;{{ product.price}}dt</p>
                            <p><strong>Total Livresion:</strong>&nbsp;0.00 dt </p>
                            <p><strong>Taxes 20% :</strong>&nbsp;{{ (product.price*0.2).toFixed(2) }}dt</p>
                            <p><strong>Total:</strong>&nbsp;{{ (product.price*1.2).toFixed(2) }}dt</p>
                            <div class="cart-content-btn">
                                <button type="button" class="btn theme-btn--dark1 btn--md mt-4 mr-2" data-dismiss="modal">Continuer achats</button>
                                <button routerLink="/checkout" class="btn theme-btn--dark1 btn--md mt-4" data-dismiss="modal"><i
                              class="ion-checkmark-round"></i>Procéder à vérifier</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>