<app-header></app-header>
<!-- product tab start -->
<div class="register pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="title text-capitalize mb-30 pb-25">Créer un compte</h3>
                <div class="log-in-form">
                    <form class="personal-information" [formGroup]="registerForm">
                        <div class="alert alert-danger text-center" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
                        <div class="alert alert-success text-center" role="alert" *ngIf="successMessage">{{successMessage}}</div>
                        <div class="order-asguest theme1 mb-3">
                            <span>Vous avez déjà un compte?</span>
                            <a class="text-muted hover-color" routerLink="/login">Connectez-vous à la place!</a>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">
                                Titre social
                        </label>
                            <div class="col-md-6">
                                <div class="d-flex flex-wrap">
                                    <div class="custom-radio">
                                        <input formControlName="sexe" value="1" type="radio" id="test1" name="sexe">
                                        <label for="test1">M</label>
                                    </div>
                                    <div class="custom-radio">
                                        <input formControlName="sexe" value="2" type="radio" id="test2" name="sexe">
                                        <label for="test2">Mme</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="pseudo" class="col-md-3 col-form-label">Pseudo</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="pseudo" name="pseudo" id="pseudo" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="firstname" class="col-md-3 col-form-label">Prénom</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="firstname" name="firstname" id="firstname" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastname" class="col-md-3 col-form-label">Nom</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="lastname" name="lastname" id="lastname" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-md-3 col-form-label">Email</label>
                            <div class="col-md-6">
                                <input type="email" formControlName="email" name="email" id="email" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Password" class="col-md-3 col-form-label">Mot de passe</label>
                            <div class="col-md-6">
                                <div class="input-group mb-2 mr-sm-2">
                                    <input type="password" formControlName="password" name="password" class="form-control" id="Password">
                                    <div class="input-group-prepend">
                                        <button type="button" class="input-group-text theme-btn--dark1 btn--md show-password">AFFICHER</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="dateBirth" class="col-md-3 col-form-label">Date de naissance</label>
                            <div class="col-md-6">
                                <input type="text" formControlName="dateBirth"  class="form-control" id="dateBirth" placeholder="MM/DD/YYYY">
                            </div>
                            <div class="col-md-3"><label><span class="optional">
                                Optionnel
                                </span></label>
                            </div>
                        </div>
                        <div class="form-group row pb-3 text-center">
                            <div class="col-md-6 offset-md-3">
                                <div class="login-form-links">

                                    <div class="sign-btn">
                                        <button (click)="onSubmit()" class="btn theme-btn--dark1 btn--md" [disabled]="registerForm.invalid">Créer un compte</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>