<app-header></app-header>
<!-- section de services start -->
<div class="service-forum" id="service-forum">
    <div class="container">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
                <!--form mask starts-->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Services Form</h4>
                        <hr>
                        <div>
                            <h2>Chères Clientes, Chers Clients, </h2>
                            <br>
                            <br>
                            <p>
                                &nbsp;&nbsp;&nbsp; Vous désirez vous informer sur un modèle de la gamme Hyundai ? Vous souhaitez recevoir
                                une brochure ? Vous avez des questions techniques ou commerciales sur nos produits ? 
                                Votre interlocuteur privilégié est votre Distributeur Hyundai , nous vous conseillons
                                donc de prendre contact avec ce dernier. Il se fera un plaisir de répondre à vos
                                questions de 8h à 17h30, du lundi au vendredi !et samedi de 8h30 à 12h30 (horaires
                                d'été : de 8h à 14h30 du lundi au jeudi et de 8h à 12h30 le vendredi) Vous pouvez
                                dès à présent joindre notre Service Relations Clientèle au numéro +216 31 398 000
                                Nous vous remercions de l'intérêt que vous portez à notre marque.
                            </p>
                        </div>
                        
                    </div>
                </div>
                <!--form mask ends-->
                    
                <div>
            </div>
        </div>
    </div>
    <!--form mask ends-->
    </div>
</div>
<!-- section de services end -->

<app-footer></app-footer>