<app-header></app-header>
<app-slider></app-slider>
<!-- product tab start -->
<section class="about-section pt-80 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-30">
                <div class="about-content">
                    <h2 class="title mb-20">Bienvenue à Hyundai Mahdia</h2>
                    <p class="mb-20">
                       <p> • Hyundai arrive en Tunisie en 2012 et démarre officiellement son activité en 2013</p>
                        <p>• Hyundai est désormais un constructeur généraliste et chacun des modèles qui composent sa gamme, 4x4, berlines, mini-fourgonnettes, citadines, coupés ou petits utilitaires, se distingue par un confort unique, un niveau d'équipement exceptionnel, des prix compétitifs et une garantie 5 années.</p>
                            <p>• Mais Hyundai en Tunisie, c'est aussi une marque en pleine expansion avec un réseau de distribution en développement et des centres de services certifiés et des pièces détachées d'origine.</p>
                                <p>• Hyundai, c'est une grande équipe de professionnels, passionnés d'automobiles, qui comprennent que le plus important est l'accueil et le service qu'ils doivent offrir à leurs clients.</p>
                </div>
            </div>
            <div class="col-lg-6 mb-30">
                <div class="about-left-image mb-30">
                    <img src="assets/img/about/about.png" alt="img" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-30">
                <div class="about-info">
                    <h4 class="title mb-20">Notre compagnie</h4>
                    <p>
                       qlq chose..
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-30">
                <div class="about-info">
                    <h4 class="title mb-20">Notre équipe</h4>
                    <p>
                        mmbr de groueps
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-30">
                <div class="about-info">
                    <h4 class="title mb-20">Certificats</h4>
                    <p>
                       les certifs
                    </p>
                </div>
            </div>
        </div>
        <!-- map start -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3248.2764265409255!2d11.051874950801295!3d35.49744248014051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1302236442a6f607%3A0x71ba8423492e89dc!2sHyundai%20Mahdia!5e0!3m2!1sfr!2stn!4v1623289313153!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<!-- map end -->
    </div>
</section>
<app-footer></app-footer>